/* ===== GOOGLE FONT ===== */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* ===== CSS VARIABLES ===== */
:root {
    /* ===== PRIMARY COLORS ===== */
    --blue-500: hsl(220, 98%, 61%);
    --check-background: 135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%);

    /* ===== LIGHT THEME ===== */
    --light-gray-50: hsl(0, 0%, 98%);
    --light-purple-300: hsl(234, 39%, 85%);
    --light-gray-300: hsl(233, 11%, 84%);
    --light-gray-600: hsl(236, 9%, 61%);
    --light-navy-850: hsl(235, 19%, 35%);
    --white: #fff;

    /* ===== DARK THEME ===== */
    --dark-navy-950: hsl(235, 21%, 11%);
    --dark-navy-900: hsl(235, 24%, 19%);
    --dark-purple-300: hsl(234, 39%, 85%);
    --dark-purple-100: hsl(236, 33%, 92%);
    --dark-purple-600: hsl(235, 16%, 43%);
    --dark-purple-700: hsl(233, 14%, 35%);
    --dark-purple-800: hsl(237, 14%, 26%);
    --dark-gray-600: hsl(236, 9%, 61%);

    /* ===== TYPOGRAPHY ===== */
    --font-family: 'Josefin Sans', sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-size-body: 18px;
}

/* ===== BASE STYLES ===== */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-normal);
    background-color: var(--light-gray-50);
    color: var(--text-color);
    overflow: hidden;
}

.image img {
    user-select: none;
}


/* COMPONANT */
.check-circle {
    width: 25px;
    height: 25px;
    border: 1px solid var(--light-gray-300);
    border-radius: 50%;
}

/* ===== TODO APP ===== */
.todo-app {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    container: todo-app / inline-size;
}

/* ===== TODO APP HEADER ====== */
.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h1 {
        color: var(--white);
        font-size: 42px;
        letter-spacing: 10px;
    }
    
    .theme-toggle {
        .moon-icon {
            display: block;
        }
        .sun-icon {
            display: none;
        }
    }
}

/* ===== STYLE TASK INPUT ====== */
.add-todo {
    width: 100%;
    min-height: 70px;
    padding-inline: 20px;
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;

    .todo-input {
        flex-grow: 1;
        height: 100%;
        border: none;
        background-color: transparent;
        font-family: var(--font-family);
        font-size: 17px;
        font-weight: normal;
        color: var(--dark-navy-900);
    }
}

/* ====== TODO CONTAINER ====== */
.todo-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    .todo-list {
        .todo-item {
            position: relative;
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 24px;
            border-bottom: 1px solid var(--light-gray-300);

            .check-circle {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease-in;
                img {
                    display: none;
                }
            }

            span {
                color: var(--light-navy-850);
            }

            .del-btn {
                position: absolute;
                right: 24px;
            }

            &.checked {
                .check-circle {
                    background-image: linear-gradient(var(--check-background));
                    border-color: transparent;
                    img {
                        display: block;
                    }
                }
                span {
                    color: var(--light-gray-600);
                    text-decoration: line-through;
                }
            }
        }
    }

    .foot {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .todo-stats {
            color: var(--light-gray-600);
            font-size: 15px;
        }

        .todo-filters {
            display: flex;
            gap: 20px;
            button {
                font-family: var(--font-family);
                font-size: 15px;
                color: var(--light-gray-600);
                font-weight: var(--font-weight-bold);
                transition: .3s ease-in;
                &:hover {
                    color: var(--dark-navy-900);
                }
                &.active {
                    color: var(--blue-500);
                }
            }
        }

        .clear-completed-btn {
            font-family: var(--font-family);
            font-size: 15px;
            color: var(--light-gray-600);
            font-weight: var(--font-weight-bold);
            transition: .3s ease-in;
            &:hover {
                color: var(--dark-navy-900);
            }
        }
    }
}

/* ======== MEDIA QUERY ========= */
@media screen and (max-width: 768px) {
    .todo-app {
        width: 95%;
    }
    .todo-item .check-circle {
        width: 20px;
        height: 20px;
    }
    .todo-item span {
        font-size: 15px;
    }
    .todo-filters {
        flex-grow: 1;
        justify-content: center;
        font-family: 15px;
    }
    .todo-stats {
        display: none;
    }
    .clear-completed-btn {
        display: none;
    }
}

/* ============ DARK MODE ============= */
body.dark {
    background-color: var(--dark-navy-950);

    .app-header {
        .theme-toggle {
            .moon-icon {
                display: none;
            }
            .sun-icon {
                display: block;
            }
        }
    }

    .add-todo {
        background-color: var(--dark-navy-900);
        .check-circle {
            border-color: var(--dark-gray-600);
        }
        input {
            color: var(--white);
        }
    }

    .todo-container {
        background-color: var(--dark-navy-900);

        .todo-item {
            border-color: var(--dark-purple-800);
            .check-circle {
                border-color: var(--dark-purple-800);
            }
            span {
                color: var(--white);
            }
        }
    }

    .foot {
        .todo-filters {
            button:hover {
                color: var(--white);
            }
        }

        .clear-completed-btn:hover {
            color: var(--white);
        }
    }
}